<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Camel Case, Snake Case로만 다를 경우
            resultMap을 안 써도 이 코드 쓰면 알아서 바꿔줌 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.sleekydz86.service.usermanagement.dto.UserDto" alias="userDto"/>

        <!-- Dto 없이 Map 반환시 camel case 변환 Map -->
        <typeAlias type="com.sleekydz86.service.usermanagement.dto.CamelHashMap" alias="camelMap"/>
    </typeAliases>

    <!-- <typeAliases>
        <package name="java.lang"/>
    </typeAliases> -->
</configuration>