<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sleekydz86.service.healthcare.global.mapper.PatientMapper">
    <select id="findById" parameterType="Long" resultType="com.sleekydz86.service.healthcare.entity.Patient">
        SELECT patient_id, name, region_id, shard_key, email, phone, date_of_birth, address, created_at, updated_at
        FROM patients
        WHERE patient_id = #{patientId}
    </select>

    <select id="findByPatientIdAndShardKey" resultType="com.sleekydz86.service.healthcare.entity.Patient">
        SELECT patient_id, name, region_id, shard_key, email, phone, date_of_birth, address, created_at, updated_at
        FROM patients
        WHERE patient_id = #{patientId} AND shard_key = #{shardKey}
    </select>

    <select id="findByRegionIdAndShardKey" resultType="com.sleekydz86.service.healthcare.entity.Patient">
        SELECT patient_id, name, region_id, shard_key, email, phone, date_of_birth, address, created_at, updated_at
        FROM patients
        WHERE region_id = #{regionId} AND shard_key = #{shardKey}
    </select>

    <insert id="insert" parameterType="com.sleekydz86.service.healthcare.entity.Patient" useGeneratedKeys="true" keyProperty="patientId">
        INSERT INTO patients (name, region_id, shard_key, email, phone, date_of_birth, address, created_at, updated_at)
        VALUES (#{name}, #{regionId}, #{shardKey}, #{email}, #{phone}, #{dateOfBirth}, #{address}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update" parameterType="com.sleekydz86.service.healthcare.entity.Patient">
        UPDATE patients
        SET name = #{name},
            region_id = #{regionId},
            shard_key = #{shardKey},
            email = #{email},
            phone = #{phone},
            date_of_birth = #{dateOfBirth},
            address = #{address},
            updated_at = #{updatedAt}
        WHERE patient_id = #{patientId}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM patients WHERE patient_id = #{patientId}
    </delete>
</mapper>

