<%-include('../../ejs/_include/_dtd.ejs') %>

  <title>환자 추가</title>
</head>
<body>
  <div class="container sub_container">
    <!-- header -->
    <%-include('../../ejs/_include/_header.ejs') %>
    <!-- header -->

    <!-- content 영역 - 서브 페이지 : main_sub_content_wrap -->
    <section class="main_content_wrap main_sub_content_wrap">
      <div class="main_content main_sub_content _inner_wrap">

        <main class="main_wrap sub_wrap"  id="skipnav_target">
          <h2 class="content_title">환자 추가</h2>

          <div class="detail_wrap">
            <section class="detail_hd_wrap">
              <h3 class="detail_title">홍길동</h3>
            </section>
            <section class="detail_content_wrap">
              <div class="detail_content__hd">
                <div class="detail_table _detail_33">
                  <div class="detail_table__container">
                    <div class="detail_table__hd">
                      <p class="detail_table__title">작성자</p>
                    </div>
                    <div class="detail_table__content">
                      <p class="detail_table__item detail_table__name">국가평생교육진흥원</p>
                    </div>
                  </div>
                  <div class="detail_table__container">
                    <div class="detail_table__hd">
                      <p class="detail_table__title detail_table__date">작성일</p>
                    </div>
                    <div class="detail_table__content">
                      <p class="detail_table__item detail_table__view">2023-02-07</p>
                    </div>
                  </div>
                  <div class="detail_table__container">
                    <div class="detail_table__hd">
                      <p class="detail_table__title">조회</p>
                    </div>
                    <div class="detail_table__content">
                      <p class="detail_table__item detail_table__view">1099</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="detail_content__text">
                ㅁㄴㅇㄹ
              </div>

            </section>
            <section class="detail_ft_wrap">
              <div class="btn_wrap">
                <button type="button" class="btn_list" onclick="location.href='../../html/Z_기타/환자목록.html'">목록</button>
              </div>
            </section>
          </div>
        </main>
      </div>
    </section>

    <!-- footer -->
    <%-include('../../ejs/_include/_footer.ejs') %>
    <!-- footer -->
  </div>
</body>
</html>