<%-include('../../ejs/_include/_dtd.ejs') %>

  <title>환자 정보</title>
</head>
<body>
  <div class="container sub_container">
    <!-- header -->
    <%-include('../../ejs/_include/_header.ejs') %>
    <!-- header -->

    <!-- content 영역 - 서브 페이지 : main_sub_content_wrap -->
    <section class="main_content_wrap main_sub_content_wrap">
      <div class="main_content main_sub_content _inner_wrap">

        <main class="main_wrap sub_wrap"  id="skipnav_target">
          <h2 class="content_title">환자 정보</h2>

          <div class="tab__panels">
            <div class="tab__panel target_tab01 _open" role="tabpanel">
              <div class="tab__panel__item">
                <div class="board_wrap">
                  <section class="board_hd_wrap">
                    <p class="board_all_num">전체 <strong>35</strong>건</p>
                    <div class="board_search_wrap">
                      <div class="board_select_wrap">
                        <select name="" id="" class="board_select">
                          <option value="" selected="selected">전체</option>
                          <option value="">제목</option>
                          <option value="">내용</option>
                          <option value="">작성자</option>
                        </select>
                      </div>
                      <div class="board_input_wrap">
                        <input type="text" id="" class="board_search_input" placeholder="검색어를 입력하세요.">
                        <button type="button" class="board_btn btn_search"><span class="blind">검색</span></button>
                      </div>
                    </div>
                  </section>

                  <section class="board_list_wrap">
                    <ul class="board_list">
                      <li class="board_list__box borad_list_hd_wrap"> 
                        <div class="board_list__title">
                          <div class="board_con_hd flex-auto">번호</div>
                          <div class="board_con_hd flex-auto">소속</div>
                          <div class="board_con_hd flex-auto">이름</div>
                          <div class="board_con_hd flex-auto">성별</div>
                          <div class="board_con_hd flex-auto">나이</div>
                          <div class="board_con_hd flex-auto">생년월일</div>
                        </div>
                      </li>
                      <!-- 게시판 반복 영역 -->
                      <li class="board_list__box">
                        <div class="board_list__item">
                          <div class="board_con flex-auto">75</div>
                          <div class="board_con flex-auto">OO요양원</div>
                          <div class="board_con flex-auto">
                            <a href="../../html/A_상태/환자상태_의사.html" class="board_list__link">홍길동</a>
                          </div>
                          <div class="board_con flex-auto">여</div>
                          <div class="board_con flex-auto">77</div>
                          <div class="board_con flex-auto">1977-07-07</div>
                        </div>
                      </li>
                      <!-- //게시판 반복 영역 -->
                      <li class="board_list__box">
                        <div class="board_list__item">
                          <div class="board_con board_con_nondata">환자 정보가 없습니다.</div>
                        </div>
                      </li>
                    </ul>
                  </section>

                  <section class="board_ft_wrap">
                    <div class="board_ft_left_wrap">
                      <!-- layout 용도 -->
                    </div>
                    <!-- 페이지네이션 -->
                    <div class="pagination_wrap" id="">
                      <ul class="pagination">
                        <!-- <li class="page_item"><a href="#" class="page_link page_link__first"><span class="blind">처음으로</span></a></li> -->
                        <li class="page_item"><a href="#" class="page_link page_link__prev"><span class="blind">이전</span></a></li>
                        <li class="page_item"><a href="#" class="page_link">1</a></li>
                        <li class="page_item"><a href="#" class="page_link _active">2</a></li>
                        <li class="page_item"><a href="#" class="page_link">3</a></li>
                        <li class="page_item"><a href="#" class="page_link">4</a></li>
                        <li class="page_item"><a href="#" class="page_link">5</a></li>
                        <li class="page_item"><a href="#" class="page_link">6</a></li>
                        <li class="page_item"><a href="#" class="page_link">7</a></li>
                        <li class="page_item"><a href="#" class="page_link">8</a></li>
                        <li class="page_item"><a href="#" class="page_link">9</a></li>
                        <li class="page_item"><a href="#" class="page_link">10</a></li>
                        <li class="page_item"><a href="#" class="page_link page_link__next"><span class="blind">다음</span></a></li>
                        <!-- <li class="page_item"><a href="#" class="page_link page_link__last"><span class="blind">마지막으로</span></a></li> -->
                      </ul>
                    </div>
                    <!-- 페이지네이션 -->

                    <div class="board_ft_right_wrap">
                      <button type="button" class="btn_add js-pop-open" data-target=".pop01">추가</button>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            
          </div>
        </main>
      </div>
    </section>

    <!-- footer -->
    <%-include('../../ejs/_include/_footer.ejs') %>
    <!-- footer -->
  </div>

  <section class="popup_dim pop01" style="display: none;">
    <section class="popup_box" style="width:800px">
      <div class="pop_header">
        <h1 class="pop_header__title">환자 선택</h1>
        <a href="" class="pop_header__close"><span hidden>닫기</span></a>
      </div>
      <div class="popup_body">

        <section class="list_search mb20">
          <div class="list_search__form">
            <div class="board_search_wrap">
              <div class="board_select_wrap">
                <select name="" id="" class="board_select">
                  <option value="" selected="selected">전체</option>
                  <option value="">소속</option>
                  <option value="">이름</option>
                </select>
              </div>
              <div class="board_input_wrap">
                <input type="text" id="" class="board_search_input" placeholder="검색어를 입력하세요.">
                <button type="button" class="board_btn btn_search"><span class="blind">검색</span></button>
              </div>
            </div>
          </div>
        </section>
        
        <div class="table_box _padding_none">
          <table>
            <colgroup>
              <col style="width:auto;">
              <col style="width:auto;">
              <col style="width:auto;">
              <col style="width:auto;">
              <col style="width:auto;">
              <col style="width:auto;">
              <col style="width:auto;">
            </colgroup>
            <thead>
              <tr>
                <th>번호</th>
                <th>소속</th>
                <th>이름</th>
                <th>성별</th>
                <th>나이</th>
                <th>생년월일</th>
                <th>선택</th>
              </tr>
            </thead>
            <tbody id="listTable">
              <tr>
                <td>3</td>
                <td>서울대병원</td>
                <td>홍길동</td>
                <td>남</td>
                <td>77</td>
                <td>1942-12-12</td>
                <td>
                  <button type="button" class="form_button">선택</button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>서울대병원</td>
                <td>임꺽정</td>
                <td>여</td>
                <td>77</td>
                <td>1942-12-12</td>
                <td>
                  <button type="button" class="form_button">선택</button>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>서울대병원</td>
                <td>장길산</td>
                <td>남</td>
                <td>76</td>
                <td>1942-12-12</td>
                <td>
                  <button type="button" class="form_button">선택</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="button_right_group">
        <a href="#none" class="btn_cancel js-pop-close" data-target=".popup_dim">취소</a>
        <a href="#none" class="btn_save">등록</a>
      </div>
    </section>
  </section>

</body>
</html>