<!-- skip nav -->
    <div class="skip_nav">
      <a href="#skipnav_target">본문 영역 바로가기</a>
    </div>
    <!-- skip nav -->

    <!-- header_wrap -->
    <header class="header_wrap">
      <div class="header">
        <div class="main_logo_wrap">
          <h1><a href="../../html/메인/메인.html" class="main_logo"><img src="../../images/common/main_logo.png" alt="1"></a></h1>
        </div>

        <nav class="gnb_wrap">
          <ul class="gnb">
            <!-- gnb_link _active 클래스 넣으면 색 바뀜 -->
            <li class="gnb_item">
              <a href="#none" class="gnb_link">환자</a>
            </li>
            <li class="gnb_item">
              <a href="#none" class="gnb_link _active">상태</a>
            </li>
            <li class="gnb_item">
              <a href="#none" class="gnb_link">분석</a>
            </li>
            <li class="gnb_item">
              <a href="#none" class="gnb_link">커뮤니티</a>
            </li>
          </ul>
        </nav>

        <div class="header_info">
          <div class="header_info__txt">
            <strong>홍길동</strong>
            <span>님, 안녕하세요</span>
          </div>
          <a href="javascript:void(0);" class="header_info__link">마이페이지</a>
          <a href="javascript:void(0);" class="header_info__link">로그아웃</a>
        </div>
      </div>
    </header>
    <!-- header_wrap -->