<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sleekydz86.service.usermanagement.global.mapper.UserMapper">
    <sql id="paging">
        <if test="pageOffset != null and pageSize != null">
            OFFSET #{pageOffset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
        </if>
    </sql>
    <select id="userInfo_v2" parameterType="userDto" resultType="camelMap">
        SELECT
        um.user_id
        ,um.user_nm
        ,um.birth_enc
        ,um.tel_num_enc
        ,um.email
        ,um.dept_nm
        ,um.weight
        ,um.height
        ,um.gender
        ,um.blood_type
        ,um.user_profile
        ,(SELECT ARRAY_TO_STRING(ARRAY_AGG(concat(umg2.user_nm,' ',umg2.tel_num_enc)),', ') 
          FROM guardian_mapping_info gi 
          LEFT JOIN user_mng umg2 ON gi.guardian_seq = umg2.user_seq
          WHERE gi.user_seq_fk = um.user_seq) AS guardian_nm
        ,(SELECT cast(array_to_json(array_agg(row_to_json(t))) as varchar)
          FROM (
            SELECT gi.guardian_seq, gi.guardian_id, umg.user_nm, umg.tel_num_enc
            FROM guardian_mapping_info gi
            LEFT JOIN user_mng umg ON gi.guardian_seq = umg.user_seq
            WHERE gi.user_seq_fk = um.user_seq
          ) t) as guardian
        ,dm.user_nm AS doctor_nm
        ,dm.dept_nm AS doctor_dept
        ,di.doctor_seq AS doctor_seq
        ,dm.user_id AS doctor_id
        FROM user_mng um
        LEFT JOIN USER_AUTH_INFO ua ON ua.USER_SEQ = um.USER_SEQ
        LEFT JOIN doctor_mapping_info di ON di.user_seq_fk = um.user_seq
        LEFT JOIN user_mng dm ON di.doctor_seq = dm.user_seq
        <where>
            and ua.user_role_fk = #{userRoleFk}
            and um.user_id = #{userId}
            <if test='userPwEnc != null and userPwEnc != ""'>
                and um.user_pw_enc = #{userPwEnc}
            </if>
        </where>
    </select>

    <select id="userInfo" parameterType="userDto" resultType="camelMap">
        SELECT
            um.user_id
             ,um.user_nm
             ,um.birth_enc
             ,um.tel_num_enc
             ,um.email
             ,um.dept_nm
             ,um.weight
             ,um.height
             ,um.gender
             ,um.blood_type
             ,um.user_profile
        from user_mng um
        where user_id = #{userId}
    </select>

    <select id="searchParentCount" parameterType="userDto" resultType="int">
        SELECT COUNT(*)
        FROM guardian_mapping_info gmi
        INNER JOIN user_mng um ON gmi.user_seq_fk = um.user_seq
        WHERE um.user_id = #{userId}
    </select>

    <delete id="deleteParentMapping" parameterType="userDto">
        DELETE FROM guardian_mapping_info gmi
        USING user_mng um
        WHERE gmi.user_seq_fk = um.user_seq
        AND um.user_id = #{userId}
        <if test="guardianSeqArray != null">
            AND gmi.guardian_seq NOT IN
            <foreach collection="guardianSeqArray" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </delete>

    <update id="updateUserInfo" parameterType="userDto">
        UPDATE user_mng
        SET upt_dt = now()
        , upt_id = #{userId}
        , user_nm = #{userNm}
        , email = #{email}
        , tel_num_enc = #{telNumEnc}
        , birth_enc = #{birthEnc}
        <if test='deptNm != null and deptNm != ""'>
            , dept_nm = #{deptNm}
        </if>
        , height = #{height}
        , weight = #{weight}
        , gender = #{gender}
        , blood_type = #{bloodType}
        WHERE user_id = #{userId}
    </update>

    <update id="updatePasswd" parameterType="userDto">
        UPDATE user_mng
        SET upt_dt = now()
          ,upt_id = #{userId}
          ,user_pw_enc = #{newUserPwEnc}
        WHERE user_id = #{userId}
          and user_pw_enc = #{userPwEnc}
    </update>

    <update id="deleteUserInfo" parameterType="userDto">
        UPDATE user_auth_info ua
        SET use_yn = 'N'
        FROM user_mng um
        WHERE ua.user_seq = um.user_seq
          AND um.user_id = #{userId}
          AND ua.user_role_fk = #{userRoleFk}
          AND ua.use_yn = 'Y'
    </update>

    <select id="doctorListCount" parameterType="userDto" resultType="int">
        SELECT
        count(*)
        FROM USER_AUTH_INFO UA
        LEFT JOIN USER_MNG UM on UA.USER_SEQ = UM.USER_SEQ
        <where>
            <if test='userRoleFk != "" and userRoleFk != null'>
                AND UA.USER_ROLE_FK = #{userRoleFk}
            </if>
            <if test='searchKeyword != "" and searchKeyword != null'>
                AND UM.USER_NM Like CONCAT('%',#{searchKeyword},'%')
            </if>
            AND UA.USE_YN = 'Y'
        </where>
    </select>

    <select id="doctorList" parameterType="userDto" resultType="camelMap">
        SELECT
        ROW_NUMBER() OVER(ORDER BY dept_nm DESC, user_nm DESC) AS ROWNUM
        , UM.USER_SEQ
        , UM.USER_ID
        , UM.USER_NM
        , UA.USER_ROLE_FK
        , UM.BIRTH_ENC
        , UM.TEL_NUM_ENC
        , UM.EMAIL
        , UM.DEPT_NM
        , UM.AGREEMENT_YN
        FROM USER_AUTH_INFO UA
        LEFT JOIN USER_MNG UM on UA.USER_SEQ = UM.USER_SEQ
        <where>
            <if test='userRoleFk != "" and userRoleFk != null'>
                AND UA.USER_ROLE_FK = #{userRoleFk}
            </if>
            <if test='searchKeyword != "" and searchKeyword != null'>
                AND UM.USER_NM Like CONCAT('%',#{searchKeyword},'%')
            </if>
            AND UA.USE_YN = 'Y'
        </where>
        ORDER BY rownum DESC
        <include refid="paging"/>
    </select>

    <select id="parentListCount" parameterType="userDto" resultType="int">
        SELECT
        count(*)
        FROM USER_AUTH_INFO UA
        LEFT JOIN USER_MNG UM on UA.USER_SEQ = UM.USER_SEQ
        <where>
            <if test='userRoleFk != "" and userRoleFk != null'>
                AND UA.USER_ROLE_FK = #{userRoleFk}
            </if>
            <if test='searchKeyword != "" and searchKeyword != null'>
                AND UM.USER_NM Like CONCAT('%',#{searchKeyword},'%')
            </if>
            AND UA.USE_YN = 'Y'
        </where>
    </select>

    <select id="parentList" parameterType="userDto" resultType="camelMap">
        SELECT
        ROW_NUMBER() OVER(ORDER BY user_nm DESC) AS ROWNUM
        , UM.USER_SEQ
        , UM.USER_ID
        , UM.USER_NM
        , UA.USER_ROLE_FK
        , UM.BIRTH_ENC
        , UM.TEL_NUM_ENC
        , UM.EMAIL
        , UM.AGREEMENT_YN
        FROM USER_AUTH_INFO UA
        LEFT JOIN USER_MNG UM on UA.USER_SEQ = UM.USER_SEQ
        <where>
            <if test='userRoleFk != "" and userRoleFk != null'>
                AND UA.USER_ROLE_FK = #{userRoleFk}
            </if>
            <if test='searchKeyword != "" and searchKeyword != null'>
                AND UM.USER_NM Like CONCAT('%',#{searchKeyword},'%')
            </if>
            AND UA.USE_YN = 'Y'
        </where>
        ORDER BY ROWNUM DESC
        <include refid="paging"/>
    </select>

    <select id="userListCount" parameterType="userDto" resultType="int">
        SELECT COUNT(*)
        FROM USER_AUTH_INFO UA
        LEFT JOIN user_mng um ON UA.USER_SEQ = um.USER_SEQ
        LEFT JOIN doctor_mapping_info di ON di.user_seq_fk = um.user_seq
        LEFT JOIN healthcare.guardian_mapping_info gmi ON gmi.user_seq_fk = um.user_seq
        <if test='userId != "" and userId != null'>
            LEFT JOIN healthcare.user_auth_info UA2 ON UA2.USER_SEQ = (SELECT um2.user_seq FROM healthcare.user_mng um2 WHERE um2.user_id = #{userId})
            LEFT JOIN healthcare.user_mng um2 ON um2.user_id = #{userId} AND um2.user_seq = UA2.USER_SEQ
        </if>
        <where>
            <if test='userRoleFk != "" and userRoleFk != null'>
                AND UA.USER_ROLE_FK = #{userRoleFk}
            </if>
            <if test='searchKeyword != "" and searchKeyword != null'>
                AND um.USER_NM LIKE CONCAT('%',#{searchKeyword},'%')
            </if>
            <if test='userId != "" and userId != null'>
                AND (
                CASE
                WHEN UA2.user_role_fk = '4' THEN TRUE
                WHEN UA2.user_role_fk = '3' THEN (di.doctor_id = #{userId})
                WHEN UA2.user_role_fk = '2' THEN (gmi.guardian_id = #{userId})
                ELSE FALSE
                END
                )
            </if>
            AND UA.USE_YN = 'Y'
        </where>
    </select>

    <select id="userList" parameterType="userDto" resultType="camelMap">
        SELECT
        ROW_NUMBER() OVER(ORDER BY um.user_nm DESC) AS ROWNUM
        , um.USER_SEQ
        , um.USER_ID
        , um.USER_NM
        , UA.USER_ROLE_FK
        , um.BIRTH_ENC
        , um.TEL_NUM_ENC
        , um.EMAIL
        , um.AGREEMENT_YN
        ,(SELECT ARRAY_TO_STRING(ARRAY_AGG(umg3.user_nm),', ') 
          FROM guardian_mapping_info gi 
          LEFT JOIN user_mng umg3 ON gi.guardian_seq = umg3.user_seq
          WHERE gi.user_seq_fk = um.user_seq) AS parent_nm
        ,dm.user_nm AS doctor_nm
        ,COALESCE((
            SELECT CASE WHEN MIN(hdm.spo2) &lt;= 90 THEN true ELSE false END
            FROM healthcare.health_data_minute hdm
            WHERE hdm.user_seq = um.USER_SEQ
            AND hdm.receive_time = CURRENT_DATE
            AND hdm.spo2 != 0
            GROUP BY hdm.user_seq
        ), false) as "warning"
        FROM USER_AUTH_INFO UA
        LEFT JOIN user_mng um ON UA.USER_SEQ = um.USER_SEQ
        LEFT JOIN doctor_mapping_info di ON di.user_seq_fk = um.user_seq
        LEFT JOIN user_mng dm ON di.doctor_seq = dm.user_seq
        LEFT JOIN healthcare.guardian_mapping_info gmi ON gmi.user_seq_fk = um.user_seq
        <if test='userId != "" and userId != null'>
            LEFT JOIN healthcare.user_auth_info UA2 ON UA2.USER_SEQ = (SELECT um2.user_seq FROM healthcare.user_mng um2 WHERE um2.user_id = #{userId})
            LEFT JOIN healthcare.user_mng um2 ON um2.user_id = #{userId} AND um2.user_seq = UA2.USER_SEQ
        </if>
        <where>
            <if test='userRoleFk != "" and userRoleFk != null'>
                AND UA.USER_ROLE_FK = #{userRoleFk}
            </if>
            <if test='searchKeyword != "" and searchKeyword != null'>
                AND um.USER_NM LIKE CONCAT('%',#{searchKeyword},'%')
            </if>
            <if test='userId != "" and userId != null'>
                AND (
                CASE
                WHEN UA2.user_role_fk = '4' THEN TRUE
                WHEN UA2.user_role_fk = '3' THEN (di.doctor_id = #{userId})
                WHEN UA2.user_role_fk = '2' THEN (gmi.guardian_id = #{userId})
                ELSE FALSE
                END
                )
            </if>
            AND UA.USE_YN = 'Y'
        </where>
        ORDER BY ROWNUM DESC
        <include refid="paging"/>
    </select>

    <select id="searchDoctor" parameterType="userDto" resultType="camelMap">
        SELECT
            UM.USER_SEQ ,
            UM.USER_ID ,
            UM.USER_NM ,
            UM.TEL_NUM_ENC ,
            UM.EMAIL ,
            UM.DEPT_NM
        FROM USER_MNG UM
                 LEFT JOIN USER_AUTH_INFO UA on UA.USER_SEQ = UM.USER_SEQ
        WHERE
            UA.USER_ROLE_FK = (
                SELECT
                    user_role_fk
                FROM auth_mng
                WHERE role_nm = '담당자'
            )
          AND UM.USER_NM = #{userNm}
          AND UA.USE_YN = 'Y'
    </select>

    <select id="searchParent" parameterType="userDto" resultType="camelMap">
        SELECT
            UM.USER_SEQ ,
            UM.USER_ID ,
            UM.USER_NM ,
            UM.TEL_NUM_ENC ,
            UM.BIRTH_ENC,
            UM.EMAIL
        FROM USER_MNG UM
                 LEFT JOIN USER_AUTH_INFO UA on UA.USER_SEQ = UM.USER_SEQ
        WHERE
            UA.USER_ROLE_FK = (
                SELECT
                    user_role_fk
                FROM auth_mng
                WHERE role_nm = '보호자'
            )
          AND UM.USER_NM = #{userNm}
          AND UM.TEL_NUM_ENC = #{telNumEnc}
          AND UM.BIRTH_ENC = #{birthEnc}
          AND UA.USE_YN = 'Y'
    </select>

    <insert id="updateGuardianMaping" parameterType="userDto">
        <selectKey resultType="int" keyProperty="userSeq" order="BEFORE">
            select user_seq from user_mng um where um.user_id = #{userId}
        </selectKey>
        INSERT INTO healthcare.guardian_mapping_info
        (user_seq_fk, user_id_fk, guardian_seq, guardian_id, reg_id)
        VALUES(#{userSeq}, #{userId}, #{guardianSeq}, #{guardianId}, #{userId})
        ON CONFLICT (user_seq_fk, guardian_seq)
        DO NOTHING
    </insert>

    <insert id="updateDoctorMaping" parameterType="userDto">
        <selectKey resultType="int" keyProperty="userSeq" order="BEFORE">
            select user_seq from user_mng um where um.user_id = #{userId}
        </selectKey>
        INSERT INTO healthcare.doctor_mapping_info
        (user_seq_fk, user_id_fk, doctor_seq, doctor_id, reg_id)
        VALUES(#{userSeq}, #{userId}, #{doctorSeq}, #{doctorId}, #{userId})
        ON CONFLICT (user_seq_fk, doctor_seq)
        DO UPDATE
        SET
        doctor_seq = #{doctorSeq}
        , doctor_id = #{doctorId}
        , upt_dt = now()
        , upt_id = #{userId}
    </insert>

    <select id="searchHealthUserList" parameterType="userDto" resultType="camelMap">
        SELECT
        um.USER_ID
        , um.USER_NM
        FROM USER_AUTH_INFO UA
        LEFT JOIN user_mng um ON UA.USER_SEQ = um.USER_SEQ
        LEFT JOIN doctor_mapping_info di ON di.user_seq_fk = um.user_seq
        LEFT JOIN healthcare.guardian_mapping_info gmi ON gmi.user_seq_fk = um.user_seq
        <if test='userId != "" and userId != null'>
            LEFT JOIN healthcare.user_auth_info UA2 ON UA2.USER_SEQ = (SELECT um2.user_seq FROM healthcare.user_mng um2 WHERE um2.user_id = #{userId})
            LEFT JOIN healthcare.user_mng um2 ON um2.user_id = #{userId} AND um2.user_seq = UA2.USER_SEQ
        </if>
        <where>
            AND UA.USER_ROLE_FK = '1'
            <if test='userId != "" and userId != null'>
                AND (
                CASE
                WHEN UA2.user_role_fk = '4' THEN TRUE
                WHEN UA2.user_role_fk = '3' THEN (di.doctor_id = #{userId})
                WHEN UA2.user_role_fk = '2' THEN (gmi.guardian_id = #{userId})
                ELSE FALSE
                END
                )
            </if>
            AND UA.USE_YN = 'Y'
        </where>
        ORDER BY um.USER_NM ASC
    </select>

    <select id="searchguardianList" parameterType="userDto" resultType="camelMap">
        SELECT
            ('보호자') as user_role, UM.dept_nm, UM.user_nm, UM.email, UM.tel_num_enc
        FROM
            guardian_mapping_info gmi
            INNER JOIN user_mng um_source ON gmi.user_seq_fk = um_source.user_seq AND um_source.user_id = #{userId}
            RIGHT OUTER JOIN user_mng UM ON UM.USER_SEQ = gmi.guardian_seq
    </select>
    <select id="searchdoctorList" parameterType="userDto" resultType="camelMap">
        SELECT
            ('의사') as user_role, UM.dept_nm, UM.user_nm, UM.email, UM.tel_num_enc
        FROM
            doctor_mapping_info dmi
            INNER JOIN user_mng um_source ON dmi.user_seq_fk = um_source.user_seq AND um_source.user_id = #{userId}
            RIGHT OUTER JOIN user_mng UM ON UM.USER_SEQ = dmi.doctor_seq
    </select>
    <select id="manage_userList_cnt" parameterType="userDto" resultType="int">
        SELECT COUNT(*) AS rownum
        FROM
        <if test='userRoleFk == "2"'>
            healthcare.guardian_mapping_info gmi
            INNER JOIN user_mng um ON gmi.guardian_seq = um.user_seq
            WHERE um.user_id = #{userId}
        </if>
        <if test='userRoleFk == "3"'>
            healthcare.doctor_mapping_info dmi
            INNER JOIN user_mng um ON dmi.doctor_seq = um.user_seq
            WHERE um.user_id = #{userId}
        </if>
    </select>

    <select id="manage_userList" parameterType="userDto" resultType="camelMap">
        SELECT a.*, b.*
        FROM
        <if test='userRoleFk == "2"'>
            guardian_mapping_info a
            INNER JOIN user_mng um ON a.guardian_seq = um.user_seq AND um.user_id = #{userId}
        </if>
        <if test='userRoleFk == "3"'>
            doctor_mapping_info a
            INNER JOIN user_mng um ON a.doctor_seq = um.user_seq AND um.user_id = #{userId}
        </if>
        LEFT OUTER JOIN user_mng b ON a.user_seq_fk = b.user_seq
    </select>

    <select id="searchuserList" parameterType="Map" resultType="camelMap">
        SELECT
        *
        FROM
        (
        SELECT
        *
        fROM
        USER_MNG
        )a
        RIGHT OUTER JOIN
        (
        SELECT
        user_seq
        FROM
        user_auth_info
        WHERE
        user_role_fk ='1'
        )b
        ON a.user_seq = b.user_seq
        <choose>
            <when test='searchtype == "allUser"'>
                WHERE
                <if test='category == "allsearch"'>
                    (
                    a.user_nm ILIKE concat('%',#{keyword},'%') OR
                    a.dept_nm ILIKE concat('%',#{keyword},'%')
                    )
                </if>
                <if test='category == "deptsearch"'>
                    (
                    a.dept_nm ILIKE concat('%',#{keyword},'%')
                    )
                </if>
                <if test='category == "namesearch"'>
                    (
                    a.user_nm LIKE concat('%',#{keyword},'%')
                    )
                </if>
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="ageavgHealthinfo" parameterType="userhealthdto" resultType="camelMap">
        SELECT
            *
        FROM HEALTH_AGE_AVG
        WHERE age_avg &lt;= DATE_PART('YEAR', AGE(CURRENT_DATE,  TO_DATE(#{birthdate}, 'YYYY-MM-DD'))) AND gender = #{gender}
        ORDER BY age_avg DESC LIMIT 1

    </select>
</mapper>