<%-include('../../ejs/_include/_dtd.ejs') %>

  <title>분석</title>
</head>
<body>
  <div class="container sub_container">
    <!-- header -->
    <%-include('../../ejs/_include/_header.ejs') %>
    <!-- header -->

    <!-- content 영역 - 서브 페이지 : main_sub_content_wrap -->
    <section class="main_content_wrap main_sub_content_wrap">
      <div class="main_content main_sub_content _inner_wrap">

        <main class="main_wrap sub_wrap">

          <div class="flex_row">
            <section class="flex_item radius_box">
              <div class="radius_body">

                <div class="flex_row">
                  <h1 class="flex_item">홍길동 (1234)</h1>

                  <ul class="user_info flex_item__col2 mt10">
                    <li class="user_info__item">
                      <strong class="user_info__title">성별</strong>
                      <div class="user_info__val">
                        <strong>여</strong>
                      </div>
                    </li>
                    <li class="user_info__item">
                      <strong class="user_info__title">혈액형</strong>
                      <div class="user_info__val">
                        <strong>AB</strong>
                      </div>
                    </li>
                    <li class="user_info__item">
                      <strong class="user_info__title">키</strong>
                      <div class="user_info__val">
                        <strong>168</strong>
                        <span>cm</span>
                      </div>
                    </li>
                    <li class="user_info__item">
                      <strong class="user_info__title">몸무게</strong>
                      <div class="user_info__val">
                        <strong>48</strong>
                        <span>kg</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>

          <div class="flex_row">
            <!-- AI 건강 주치의 -->
            <section class="flex_item radius_box">
              <div class="radius_header">
                <h2 class="radius_header__title">상세 정보</h2>
              </div>
              <div class="radius_body">
                <!-- 날짜 선택 -->
                <section class="chart_search">
                  <div class="form_inline_group">
                    <button type="button" class="form_button">월별</button>
                    <button type="button" class="form_button">주별</button>
                    <input type="text" name="" id="" class="form_item_date ml5">
                  </div>
                </section>
                
                <!-- 탭 -->
                <ul class="user_state _row mb10">
                  <li class="user_state__item _active">
                    <a href="">
                      <div class="user_state__title _state01">
                        <strong>심박수</strong>
                      </div>
                    </a>
                  </li>
                  <li class="user_state__item">
                    <a href="">
                      <div class="user_state__title _state02">
                        <strong>혈압</strong>
                      </div>
                    </a>
                  </li>
                  <li class="user_state__item">
                    <a href="">
                      <div class="user_state__title _state03">
                        <strong>체온</strong>
                      </div>
                    </a>
                  </li>
                  <li class="user_state__item">
                    <a href="">
                      <div class="user_state__title _state04">
                        <strong>스트레스</strong>
                      </div>
                    </a>
                  </li>
                  <li class="user_state__item">
                    <a href="">
                      <div class="user_state__title _state05">
                        <strong>걷기</strong>
                      </div>
                    </a>
                  </li>
                  <li class="user_state__item">
                    <a href="">
                      <div class="user_state__title _state06">
                        <strong>수면</strong>
                      </div>
                    </a>
                  </li>
                </ul>
                <!-- //탭 -->

                <!-- 차트박스 -->
                <div class="chat" style="height: 300px;">
                  <img src="http://dummyimage.com/1000x300" alt="" style="width:100%;height: 100%;">
                </div>

              </div>
            </section>
          </div>

          <div class="flex_row">
            <!-- 건강 점수 -->
            <section class="flex_item__col1 radius_box _relative">
              <div class="radius_header">
                <h2 class="radius_header__title">건강 점수</h2>
              </div>
              <div class="radius_body">
                <strong class="chart_score">40</strong>
              </div>
            </section>

            <!-- 건강 그래프 -->
            <section class="flex_item__col2 radius_box">
              <div class="radius_header">
                <h2 class="radius_header__title">건강 그래프</h2>
              </div>
              <div class="radius_body">
                
                <div class="chat" style="height: 300px;">
                  <img src="http://dummyimage.com/1000x300" alt="" style="width:100%;height: 100%;">
                </div>

              </div>
            </section>
          </div>
          
        </main>
      </div>
    </section>

    <!-- footer -->
    <%-include('../../ejs/_include/_footer.ejs') %>
    <!-- footer -->
  </div>
</body>
</html>